## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [13]:

sample_list_1 = random.sample(range(0, 101), 80)
print("sample_list_1:", sample_list_1)

sample_list_1: [46, 22, 91, 41, 69, 95, 18, 96, 21, 75, 65, 28, 45, 19, 57, 60, 51, 6, 71, 0, 29, 61, 44, 82, 20, 79, 36, 93, 52, 63, 64, 34, 87, 43, 24, 1, 100, 62, 72, 17, 89, 13, 92, 76, 78, 97, 14, 77, 12, 49, 55, 39, 9, 16, 88, 37, 98, 74, 67, 80, 54, 26, 59, 11, 68, 56, 70, 3, 32, 4, 86, 27, 83, 73, 58, 2, 53, 40, 99, 30]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [14]:
set1 = set(sample_list_1)
print("Length of set1:", len(set1))

Length of set1: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [11]:
sample_list_2 = []
for _ in range(80):
    sample_list_2.append(random.randint(0, 100))
print("sample_list_2:", sample_list_2)

sample_list_2: [20, 35, 97, 10, 86, 70, 45, 0, 90, 74, 37, 30, 31, 99, 17, 31, 5, 43, 53, 54, 5, 94, 6, 67, 54, 63, 68, 21, 21, 57, 100, 71, 27, 20, 82, 53, 94, 86, 40, 98, 73, 18, 31, 67, 64, 55, 88, 8, 68, 9, 41, 99, 51, 96, 47, 85, 55, 76, 80, 4, 70, 96, 21, 29, 55, 21, 5, 3, 53, 59, 37, 100, 87, 62, 74, 12, 67, 75, 87, 31]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [12]:
set2 = set(sample_list_2)
print("Length of set2:", len(set2))

Length of set2: 54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [15]:
set3 = set1.difference(set2)
print("set3 (in set1 but not in set2):", set3)

set3 (in set1 but not in set2): {1, 2, 11, 13, 14, 16, 19, 22, 24, 26, 28, 32, 34, 36, 39, 44, 46, 49, 52, 56, 58, 60, 61, 65, 69, 72, 77, 78, 79, 83, 89, 91, 92, 93, 95}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [16]:
set4 = set2.difference(set1)
print("set4 (in set2 but not in set1):", set4)

set4 (in set2 but not in set1): {35, 5, 8, 10, 47, 85, 90, 94, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [17]:
set5 = set1.intersection(set2)
print("set5 (shared between set1 and set2):", set5)

set5 (shared between set1 and set2): {0, 3, 4, 6, 9, 12, 17, 18, 20, 21, 27, 29, 30, 37, 40, 41, 43, 45, 51, 53, 54, 55, 57, 59, 62, 63, 64, 67, 68, 70, 71, 73, 74, 75, 76, 80, 82, 86, 87, 88, 96, 97, 98, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [24]:
print("len(set1):", len(set1))
print("len(set2):", len(set2))
print("len(set3):", len(set3))
print("len(set4):", len(set4))
print("len(set5):", len(set5))

len(set1): 78
len(set2): 54
len(set3): 35
len(set4): 9
len(set5): 45

#### Create an empty set called `set6`.

In [20]:
set6 = set()
set6.update(set3)
set6.update(set5)
print("set6 after update:", set6)

set6 after update: {0, 1, 2, 3, 4, 6, 9, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 24, 26, 27, 28, 29, 30, 32, 34, 36, 37, 39, 40, 41, 43, 44, 45, 46, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 86, 87, 88, 89, 91, 92, 93, 95, 96, 97, 98, 99, 100}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
# Your code here

#### Check if `set1` and `set6` are equal.

In [22]:
print("Are set1 and set6 equal?", set1 == set6)

Are set1 and set6 equal? False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [23]:
print("Is set2 a subset of set1?", set2.issubset(set1))
print("Is set3 a subset of set1?", set3.issubset(set1))

Is set2 a subset of set1? False
Is set3 a subset of set1? False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [21]:
agg1 = set3.union(set4).union(set5)
agg2 = set1.union(set2)

print("Are the aggregated values equal?", agg1 == agg2)

Are the aggregated values equal? False

#### Using the `pop` method, remove the first element from `set1`.

In [19]:
removed_element = set1.pop()
print("Removed element from set1:", removed_element)
print("Updated set1:", set1)

Removed element from set1: 1
Updated set1: {2, 3, 4, 6, 9, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 24, 26, 27, 28, 29, 30, 32, 34, 36, 37, 39, 40, 41, 43, 44, 45, 46, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 86, 87, 88, 89, 91, 92, 93, 95, 96, 97, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here